<div class="col-md-7">
    <h1>Welcome to QuotingDojo</h1>
    <form action="/newpost" method="POST">
    <p>Name: <input type="text" name="Name" required></p>
    <p>Quote:</p>
    <textarea name="Quote" rows="10" cols="80"></textarea><br>
    <input type="submit" class="btn btn-secondary" value="Submit Quote">
    <a href="/quotes" class="btn btn-secondary float-right" role="button">Goto Quotes!</a>
    </form>
</div>