<h1>Here are the quotes!</h1>
<div class="col-md-7">
    <ul style="list-style-type:none;">
    @foreach(var quote in ViewBag.Quotes)
    {
        <li>@quote["quote"]</li>
        <li>@quote["name"]  @quote["created_at"]</li>
        <li><hr></li>
    }
    </ul>
</div>