<div class="container">
    <h3>Submitted Info</h3>
    <p>Name: @Model.Name</p>
    <p>Dojo Location: @Model.Location</p>
    <p>Favorite Language: @Model.Language</p>
    <p>Comment: @Model.Comments</p>
    <input type="button" value="Go back!" onClick="location.href='/'" >
</div>