@model User
<form asp-action="create" asp-controller="Home" method="POST">
    <span asp-validation-for="FirstName"></span>
    <p><label asp-for="FirstName"></label>
    <input asp-for="FirstName"></p>
    <span asp-validation-for="LastName"></span>
    <p><label asp-for="LastName"></label>
    <input asp-for="LastName"></p>
    <span asp-validation-for="Age"></span>
    <p><label asp-for="Age"></label>
    <input asp-for="Age"></p>
    <span asp-validation-for="Email"></span>
    <p><label asp-for="Email"></label>
    <input asp-for="Email"></p>
    <span asp-validation-for="Password"></span>
    <p><label asp-for="Password"></label>
    <input asp-for="Password"></p>
    <p><input type="submit" value="Submit Survey"></p>
</form>
