<div class="center-div-1">
    <p>Random Passcode # @ViewBag.Count</p>
</div>
<div class="center-div-2">
    <div class="random">
        <p>@ViewBag.Random</p>
    </div>
</div>
<div class="button-div">
    <form action="/" method="post">
        <button class="button" type="submit">Generate</button>
    </form>
</div>
<div class="button-div">
    <form action="reset" method="post">
        <button class="button" type="submit">Reset</button>
    </form>
</div>